*, *::after, *::before {
	box-sizing : border-box;
	margin     : 0;
	padding    : 0;
}

html, body {
	font-size : 16px;
	margin    : 0;
	padding   : .5rem;
	width     : 100%;
	height    : 100%;
}

.center {
	text-align : center;
}

.box {
	display               : grid;
	grid-template-columns : minmax(200px, 1fr);
	grid-auto-rows        : minmax(4rem, 8rem);
	grid-gap              : .5rem;
}

.item {
	border           : 1px dotted #999999;
	background-color : #ededed;
}

ul.box {
	list-style : none;
}

ul.box li.item {
	display         : grid;
	justify-content : center;
	align-items     : center;
	text-transform  : uppercase;
	letter-spacing  : 2em;
	line-height     : 1.4;
}

ul.box li.item a {
	display   : block;
	font-size : 1.4rem;
	padding   : 1.4rem 14rem;
}
